
/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
  background-color: rgb(180, 142, 219);
}
h1 {
  font-size: 5rem;
  margin-top: 150px;
}
#value {
  font-size: 6rem;
  font-weight: bold;
}
.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 15px 20px;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  /* border: 2px solid var(--clr-black); */
  cursor: pointer;
   border-color: black;
   border-width: 2px;
   font-weight: bold;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
  border-radius: var(--radius);
  margin: 0.5rem;
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}